<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd         
	   					   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd         
	   					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd         
	   					   http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd         
	   					   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<import
		resource="classpath:/com/pacifico/telebusca/config/applicationContext-service.xml" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:com/pacifico/telebusca/config/telebusca.properties
				</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

		
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter" id="audSistemaServicioRmi">
		<property name="serviceName" value="audSistemaServicioRmi" />
		<property name="service" ref="audSistemaServicio" />
		<property name="serviceInterface" value="com.pacifico.telebusca.servicio.AudSistemaServicio" />
		<property name="registryPort" value="${rmiport}" />
	</bean>
	
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter" id="audioServicioRmi">
		<property name="serviceName" value="audioServicioRmi" />
		<property name="service" ref="audioServicio" />
		<property name="serviceInterface" value="com.pacifico.telebusca.servicio.AudioServicio" />
		<property name="registryPort" value="${rmiport}" />
	</bean>
	
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter" id="empresaServicioRmi">
		<property name="serviceName" value="empresaServicioRmi" />
		<property name="service" ref="empresaServicio" />
		<property name="serviceInterface" value="com.pacifico.telebusca.servicio.EmpresaServicio" />
		<property name="registryPort" value="${rmiport}" />
	</bean>
	
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter" id="usuarioEmpresaServicioRmi">
		<property name="serviceName" value="usuarioEmpresaServicioRmi" />
		<property name="service" ref="usuarioEmpresaServicio" />
		<property name="serviceInterface" value="com.pacifico.telebusca.servicio.UsuarioEmpresaServicio" />
		<property name="registryPort" value="${rmiport}" />
	</bean>
	
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter" id="teleBuscaAudioRmi">
		<property name="serviceName" value="teleBuscaAudioRmi" />
		<property name="service" ref="teleBuscaAudio" />
		<property name="serviceInterface" value="com.pacifico.telebusca.servicio.xml.TeleBuscaAudio" />
		<property name="registryPort" value="${rmiport}" />
	</bean>

</beans>    